.page {

  min-height: 100vh;
  font-family: var(--font-geist-sans);
  background-image: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: fixed;
}




