.lead {
    margin: 2vw 0 2vw;
    text-align: center;
    font-size: min(2vw, 36px);
    color: #ffff;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    text-shadow: 0 0 16px #00d9ff;
}

.character_list {
    touch-action: pan-y;
    padding: 1.5vw 0 5.2vw;
        margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transform: translateZ(0);
}

.slide {
    width: 1220px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.background_color {
    height: min(25vw, 480px);
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
    z-index: -2;
}

.background_image {
    background-size: auto 100%;
    background-position: calc(50% - min(20.8vw, 400px));
    width: 100%;
    height: min(25vw, 480px);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    border-top: min(.4166666667vw, 8px) solid #bed9e4;
    border-bottom: min(.4166666667vw, 8px) solid #bed9e4;
}

.background_image::before,
.background_image::after {
    content: "";
    width: min(21.875vw, 420px);
    height: min(2.5vw, 48px);
    position: absolute;
    background-size: 100% auto;
    background-position: top;
    pointer-events: none;

}

.background_image::before {
    top: max(-1.7vw, -32px);
    left: 0;
    background-image: url(/images/character_bg_top.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.background_image::after {
    bottom: max(-1.7vw, -32px);
    right: 0;
    background-image: url(/images/character_bg_bottom.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.details {
    width: min(35.4vw, 680px);
    padding-top: min(7.2vw, 140px);
    display: grid;
    justify-items: center;
}

.name {
    font-style: italic;
}

.img_wrap {
    position: relative;
    width: min(30.8854166667vw, 593px);
    height: min(33.8541666667vw, 650px);
    transform: translateX(max(-40px, -.4rem));

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: min(30.8854166667vw, 593px);
        height: min(33.8541666667vw, 650px);
        display: block;
    }
}

.left_button {
    width: min(3.3vw, 64px) !important;
    height: min(2.7vw, 52px) !important;
    left: calc(50% - min(37.5vw, 720px));
    right: unset;
        position: absolute;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_button::after {
    content: "" !important;
    display: block;
    width: min(3.3333333333vw, 64px) !important;
    height: min(2.7083333333vw, 52px) !important;
    background: url(/images/slider_arrow.svg) no-repeat 50%;
    background-size: 100%;
    color: transparent;
}

.right_button {
    left: calc(50% + min(37.5vw, 720px));
    right: unset;
    transform: scale(-1);
    width: min(3.3333333333vw, 64px) !important;
    height: min(2.7083333333vw, 52px) !important;
        position: absolute;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_button::after {
    content: "" !important;
    display: block;
    width: min(3.3333333333vw, 64px) !important;
    height: min(2.7083333333vw, 52px) !important;
    background: url(/images/slider_arrow.svg) no-repeat 50%;
    background-size: 100%;
    color: transparent;
}