.lead {
    margin: 2vw 0 2vw;
    text-align: center;
    font-size: min(2vw, 36px);
    color: #ffff;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    text-shadow: 0 0 16px #00d9ff;
}

.wrap {
    width: 100vw;
    margin-inline: auto;
}


.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
    display: block;
    touch-action: pan-y;
    padding: 1.5vw 0 5.2vw;
    box-sizing: content-box;
}

.slide {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1199px;
    opacity: 1;
    position: relative;
}

.background_color {
    height: min(25vw, 480px);
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
    z-index: -2;

}

.background_image {
    background-size: auto 100%;
    background-position: calc(50% - min(20.8vw, 400px));
    width: 100%;
    height: min(25vw, 480px);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    border-top: min(.41vw, 8px) solid #bed9e4;
    border-bottom: min(.41vw, 8px) solid #bed9e4;
    background-repeat: no-repeat;
}

.background_image::before,
.background_image::after {
    content: "";
    width: min(21.875vw, 420px);
    height: min(2.5vw, 48px);
    position: absolute;
    background-size: 100% auto;
    background-position: top;
    pointer-events: none;

}

.background_image::before {
    top: max(-1.7vw, -32px);
    left: 0;
    background-image: url(/images/character_bg_top.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.background_image::after {
    bottom: max(-1.7vw, -32px);
    right: 0;
    background-image: url(/images/character_bg_bottom.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.details {
    width: min(35.4vw, 680px);
    padding-top: min(7.2vw, 140px);
    display: grid;
    justify-items: center;

}

.name {
    font-style: italic;
    height: min(7.08vw, 136px);
    margin: 0 auto min(2.08vw, 40px);
    color: #fff;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    font-size: min(1.8vw, 35px);
}

.description {
    width: fit-content;
    text-align: left;
    font-size: min(.9vw, 18px);
    letter-spacing: min(.01rem, 1.5px);
    color: #fff;
    font-family: "BIZ UDPGothic", sans-serif;
    white-space: pre-wrap;

}

.img_wrap {
    position: relative;
    width: min(30.8vw, 593px);
    height: min(33.8vw, 650px);
    transform: translateX(max(-40px, -.4rem));

    img {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        display: block;
        width: min(30.8vw, 593px);
        height: min(33.8vw, 650px);
    }
}

:global(.mySwiper::part(button-prev)) {

    left: calc(45% - min(37.5vw, 720px));
    right: unset;
    position: absolute;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    color: transparent;
}


:global(.mySwiper::part(button-prev))::after {
    content: "" !important;
    display: block;
    width: 10vw !important;
    height: min(2.7vw, 52px) !important;
    background: url(/images/slider_arrow.svg) no-repeat 50%;
    background-size: 100%;
    color: transparent;
}

:global(.mySwiper::part(button-next)) {
    left: calc(50% + min(37.5vw, 720px));
    right: unset;
    transform: scale(-1);
    color: transparent;
}

:global(.mySwiper::part(button-next))::after {
    content: "" !important;
    display: block;
    width: 10vw !important;
    height: min(2.7vw, 52px) !important;
    background: url(/images/slider_arrow.svg) no-repeat 50%;
    background-size: 100%;
    color: transparent;
}

:global(.swiper-slide-thumb-active) .thumb_slide::after{
        background-image: url(/images/characters/character_thumb_frame___selected.svg);
}

.thumb_slide {
    position: relative;
    width: min(7.2vw, 140px);
    cursor: pointer;
    filter: brightness(.8);

    img {
        width: 100%;
        height: auto;
        display: block;
        mask-image: url(/images/characters/character_thumb_mask.png);
        mask-size: 100%;

    }
}

.thumb_slide::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/characters/character_thumb_frame.svg) no-repeat 50%;
    background-size: 100%;
}