.hero {
    height: min(56.25vw, 1080px);
    background-image: url('/images/bg_mv.png');
    width: 100%;
    background-size: cover;
    display: grid;
    background-position: bottom;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    width: 100%;
    height: min(5vw, 96px);
    position: absolute;
    bottom: max(-.8vw, -16px);
    left: 0;
    transform: 0;
    background-image: url('/images/mv_bottom.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 100%;
}

.bg_effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateZ(0);
    mix-blend-mode: color-dodge;
 
}

.bg_effect video {
    width: 100%;
    height: calc(100% - min(5vw, 96px));
    object-fit: cover;
}

.main_visual{
        width: min(100vw,1920px);
    height: min(56.25vw,1080px);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
}

.main_visual picture{
        display: block;
    width: auto;
    height: 100%;

    img{
            width: auto;
    height: 100%;
    object-fit: contain;
    }
}